@import "../../style.css";

.container-default {
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-rendering: optimizeLegibility;
}

.divisor {
  align-content: center;
}