@import "../../style.css";

.about {
    font-family: var(--p-font);
    font-size: var(--p-size);
    line-height: var(--p-line-height);
    text-align: center;
    color: var(--p-color);
    padding: 80px;
}

.about-text {
    margin-bottom: 30px;
}