@import "../../style.css";


.footer-default {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--footer-color);
    width: 100%;
}

.footer-left, .footer-right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer-right {
    justify-content: space-between;
}

.banner {
    margin: 50px;
}

.cc {
    width: 59px;
    height: 16px;
}   

.email, .github, .instagram, .twitter {
    margin: 20px;
}

